<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>.aviie</title>
</head>
<body class="home">
  <div class="container">
    <div class="row mt">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="text-center">
          <h1>.aviie</h1>
          <p>Version bêta</p>
          <a href="/oauth" class="btn btn-default"><span class="fa fa-user"><span> Login</a>
       </div>
      </div>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </body>
</html>
